.about-me-block {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 750px){
    .about-me-block {
        display: block;
        width: 100%;
    }
}


.about-me-content {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}